.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 75px;
  padding: 0 15px;
  position: relative;
  margin-bottom: 20px;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: width 0.4s ease-out;
}

.header::after {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  animation: glow 1s infinite alternate;
}

.header:hover::after {
  width: 100%;
  transition: width 0.4s ease-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(7, 245, 138, 0.8);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 255, 64, 0.8);
  }
}
