.streamerDetails {
  width: 400px;
  margin: 0 auto;
}

.mainGroup {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoDiv {
  margin-bottom: 40px;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.streamerNameLabel {
  display: none;
}

.name {
  font-family: Roboto Mono;
  font-weight: 700;
  font-size: 16px;
  color: #ced7e087;
}

.platformDiv {
  display: flex;
  flex-direction: column;
  padding: 0 87px;
}

.platformLabel {
  font-family: Roboto Mono;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 15px;
}

.platform {
  font-family: Roboto Mono;
  font-size: 24px;
  font-weight: 700;
  color: #c10101;
}

.upvotes,
.downvotes {
  font-size: 16px;
  color: #ced7e087;
}
.upvotes p:first-child {
  color: green;
  margin-bottom: 10px;
  font-size: 20px;
}

.downvotes p:first-child {
  color: #c10101;
  margin-bottom: 10px;
  font-size: 20px;
}

.descriptionDiv {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.descriptionLabel {
  font-family: Roboto Mono;
  color: #ced7e087;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}

.description {
  font-family: Roboto Mono;
  font-style: italic;
  font-size: 14px;
  margin: 0;
}
