.container {
  padding: 10px 15px;
}

.app {
  display: flex;

  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 75px;
  border: 1px red solid;
}

.tittle {
  font-family: Roboto Mono;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  width: 170px;
  height: auto;
  border: 2px solid red;
  margin: 0 auto;
}

.main {
  width: auto;
  height: auto;
  border: 1px rgb(0, 240, 108) solid;
}

.footer {
  display: flex;
  width: auto;
  height: 75px;
  border: 1px blue solid;
}
